:root {
  --main-green: #10894e;
  --main-grey: #efefef;
  --blue: #5271ff;
}

body {
  background-color: red;
  min-height: 100vh;
  margin: 0;
}

.main-content {
  background-color: aliceblue;
  min-height: 100vh;
  display: grid;
  grid-template-columns: minmax(250px, 300px) 1fr;
}

/* NavBar */
.navbar {
  background-color: var(--main-green);
  border: 2px solid black;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  /* min-width: 150px; */
}

.brand {
  height: 90px;
  background-color: #ffffff;
  border-bottom: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}
.brand p {
  display: inline;
  vertical-align: middle;
  font-size: 24px;
}
.brand img {
  height: 26px;
  width: 26px;
  margin-top: 3px;
}
.nav-items {
  flex: 1;
  background-color: var(--main-green);
  display: flex;
  justify-content: center;
}
.nav-item-categories {
  margin-top: 25px;
  min-height: 450px;
  height: 75%;
  width: 85%;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
}
.nav-tabs {
  background-color: transparent;
  flex: 1;
  max-height: 280px;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.nav-tabs > :first-child {
  /* margin-top: 20px; */
  margin-top: 15%;
}
.button {
  background-color: transparent;
  border: none;
  padding: 0;
  text-align: inherit;
  appearance: none;
  font-size: 16px;
  color: white;
}
.dropbtn {
  background-color: black;
  font-size: 20px;
  font-weight: 600;
  border: none;
  padding: 16px;
  width: 90%;
  border-radius: 15px;
  cursor: pointer;
  text-align: left;
  /* font-size: 16px; */
  color: white;
}
.projects {
  border: 2px solid pink;
  /* background-color: pink; */
  background-color: transparent;
  flex: 1;
  position: relative;
  display: inline-block;
  /* padding-left: 25px; */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  color: white;
  width: 90%;
  z-index: 1;
}
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
}
.project-dropdown:hover .dropdown-content {
  display: block;
}
.project-dropdown:hover .dropbtn {
  background-color: pink;
}
.project-dropdown a {
  text-align: center;
}
/* Main Content */
.content {
  background-color: var(--main-grey);
  padding: 60px 80px 0 80px;
  display: flex;
  flex-direction: column;
}
.content-title {
  width: 100%;
  height: 100px;
  /* background-color: #5271ff; */
  background-color: transparent;
  display: flex;
  align-items: center;
  border-bottom: 2px solid black;
}
.content-title p {
  font-size: 32px;
}
.content-add-task {
  height: 100px;
  /* background-color: aqua; */
  background-color: transparent;
  display: flex;
  align-items: center;
}
.add-task-btn {
  border: none;
  background-color: #5271ff;
  color: white;
  padding: 10px 15px;
  border-radius: 15px;
  font-size: 18px;
  cursor: pointer;
}
.content-tasks {
  flex: 1;
  /* background-color: #10894e; */
  background-color: transparent;
  display: flex;
  justify-content: center;
}
.list-content {
  width: 75%;
  /* background-color: aqua; */
  background-color: transparent;
  min-width: 500px;
}
.add-list {
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}
.add-list div {
  padding: 20px 20px;
}
