:root {
  --main-green: #10894e;
  --main-grey: #efefef;
  --blue: #5271ff;
}

body {
  background-color: red;
  min-height: 100vh;
  margin: 0;
}

.main-content {
  background-color: aliceblue;
  min-height: 100vh;
  display: grid;
  grid-template-columns: minmax(250px, 300px) 1fr;
}

/* NavBar */
.navbar {
  background-color: var(--main-green);
  border: 2px solid black;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  /* min-width: 150px; */
}

.brand {
  height: 90px;
  background-color: #ffffff;
  border-bottom: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}
.brand p {
  display: inline;
  vertical-align: middle;
  font-size: 24px;
}
.brand img {
  height: 26px;
  width: 26px;
  margin-top: 3px;
}
.nav-items {
  flex: 1;
  background-color: var(--main-green);
  display: flex;
  justify-content: center;
}
.nav-item-categories {
  margin-top: 25px;
  min-height: 450px;
  height: 75%;
  width: 85%;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
}
.nav-tabs {
  background-color: transparent;
  flex: 1;
  max-height: 280px;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.nav-tabs > :first-child {
  /* margin-top: 20px; */
  margin-top: 15%;
}
.button {
  background-color: transparent;
  border: none;
  padding: 0;
  text-align: inherit;
  appearance: none;
  font-size: 16px;
  color: white;
}
.dropbtn {
  background-color: black;
  font-size: 20px;
  font-weight: 600;
  border: none;
  padding: 16px;
  width: 90%;
  border-radius: 15px;
  cursor: pointer;
  text-align: left;
  /* font-size: 16px; */
  color: white;
}
.projects {
  /* border: 2px solid pink; */
  /* background-color: pink; */
  background-color: transparent;
  flex: 1;
  position: relative;
  display: inline-block;
  /* padding-left: 25px; */
}

.dropdown-content {
  display: none;
  position: absolute;
  /* background-color: red; */
  border: 2px solid black;
  color: white;
  width: 223px;
  border-radius: 0 0 15px 15px;
  z-index: 1;
}
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #d88787;
  /* background-color: transparent; */
}
.project-dropdown:hover .dropdown-content {
  display: block; /* change this to .project-dropdown "click"*/
}
.project-dropdown:hover .dropbtn {
  background-color: rgb(32, 29, 30);
  border-radius: 15px 15px 0 0;
}
.project-dropdown a {
  text-align: center;
}

/* MAIN CONTENT */
.content {
  background-color: var(--main-grey);
  padding: 60px 80px 0 80px;
  display: flex;
  flex-direction: column;
}
.content-title {
  width: 100%;
  height: 100px;
  /* background-color: #5271ff; */
  background-color: transparent;
  display: flex;
  align-items: center;
  border-bottom: 2px solid black;
}
.content-title p {
  font-size: 32px;
}
.content-add-task {
  height: 100px;
  /* background-color: aqua; */
  background-color: transparent;
  display: flex;
  align-items: center;
}
.add-task-btn {
  border: none;
  background-color: #5271ff;
  color: white;
  padding: 10px 15px;
  border-radius: 15px;
  font-size: 18px;
  cursor: pointer;
}
.content-tasks {
  flex: 1;
  /* background-color: #10894e; */
  background-color: transparent;
  display: flex;
  justify-content: center;
}
.list-content {
  width: 75%;
  /* background-color: aqua; */
  background-color: transparent;
  min-width: 500px;
}
.add-list {
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}
.list-item {
  padding: 20px 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  border-bottom: 1px solid var(--main-grey);
}
.list-item > div:nth-child(2) {
  text-align: center;
}
.checkmark {
  height: 14px;
  width: 14px;
  border-radius: 50%;
  border: 2px solid var(--blue);
  cursor: pointer;
}
.list-item-first {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.list-item-first > p {
  margin: 0;
  font-size: 18px;
}
.yessir {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}
.yessir > p {
  font-size: 18px;
  color: var(--blue);
}
.material-symbols-outlined.empty-star {
  font-size: 24px;
  color: rgb(184, 184, 175);
  cursor: pointer;
}
.material-icons.marked {
  color: rgb(0, 228, 179);
  font-size: 24px;
  cursor: pointer;
}
.material-icons::before {
  content: "\e3bc";
  font-family: "Material Icons Outlined";
  font-size: 24px;
  color: black;
  position: absolute;
  top: 0;
  left: 0;
}
.completed {
  background-color: red;
  border: 2px solid red;
}
/* TASK FORM POP-UP NEEDS STYLING */
.item-form {
  display: none;
}
.show-form {
  display: block;
}
#listForm {
  border: 2px solid black;
  padding: 15px;
}
.inputField {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.inputField input {
  margin-bottom: 5px;
}
.formButtons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 5px;
}
#formBtn {
  margin-bottom: 0;
}

.tabActive {
  border-bottom: 2px solid white;
}
